
.mail-search{
    max-width: 300px;
}
.intimeline-list .fa, .pagination .fa{
    line-height: 30px;
}

#mensaje-login{
    display: none
}

.form-control{
    background-color: #ffffff
}

#loading-registro{
    display: none
}
.pagination > li > a{
    line-height: 30px;
    padding: 4px 15px;
}

.margin-top{
    margin:15px 0; 
}
.right{
    float: right
}

.center{
    text-align: center
}

.ibox-content .img-responsive{
    max-width: 88%;
    display: inline
}
.perfil .label-warning{
    margin-bottom: 5px;
    float: left;
    margin-left: 5px;
    font-size: 0.9em;
}

/*Perfil cliente*/
.perfil .fa{
    line-height: 1
}

.c-calificacion .css-estrella-2 {
    background: url('../images/estrellas.png') no-repeat 0 0;
    width: 17px;
    height: 16px;
    float: left;
    margin: 0px 1px;
    vertical-align: middle;
}
.c-calificacion .css-estrella-1 {
    background: url('../images/estrellas.png') no-repeat -21px 0;
    width: 17px;
    height: 16px;
    float: left;
    margin: 0px 1px;
    vertical-align: middle;
}
.modal-body form{
    margin-bottom: 25px
}
.nivel-c{
    float: left;
    width: 130px;
    text-align: center
}
.nivel-c span{
    display: block
}

.nivel-c .opcion-c{
    display: block
}