<?php echo $this->doctype(); ?>

<html lang="es">
    <head>
        <meta charset="utf-8">
        <?php echo $this->headTitle('Guest comment Admin') ?>

        <?php
        echo $this->headMeta()
                ->appendName('viewport', 'width=device-width, initial-scale=1.0')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>
        <!-- Le styles -->
        <?php
        echo $this->headLink()
                ->prependStylesheet($this->basePath() . '/css/module/admin/principal.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/plugin/table-responsive.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/plugin/icheck.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/theme/style.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/theme/animate.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/plugin/jquery.gritter.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/plugin/morris-0.4.3.min.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/theme/font-awesome.css')
                ->prependStylesheet($this->basePath() . '/css/module/admin/bootstrap/bootstrap.min.css')
        ?>
        <!-- Le javascript -->
        <?php
        echo $this->headScript() 
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery-1.10.2.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/bootstrap/bootstrap.min.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.metisMenu.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/theme/inspinia.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/pace.min.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.gritter.min.js')
                ->appendFile($this->basePath() . '/js/module/admin/index/principal-theme.js')
                ->appendFile($this->basePath() . '/js/module/admin/index/principal.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.flot.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.flot.tooltip.min.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.flot.spline.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.flot.resize.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.flot.pie.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.peity.min.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/theme/peity-demo.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery-ui.min.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.easypiechart.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/plugin/jquery.sparkline.min.js')
                ->appendFile($this->basePath() . '/js/module/admin/library/theme/sparkline-demo.js') 
                ->appendFile($this->basePath() . '/js/global/library/message/messages.js')
                ->appendScript("$(function(){flashMsg.init();})");    
        ?>



    </head>
    <body>

        <?php
        echo $this->partial('header-admin');
        ?>

        <?php echo $this->content; ?>

    </body>
</html>
