
<?php

    $pais=$this->pais;
?>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Hoteles</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Hoteles</a>
            </li>
            <li class="active">
                <strong>Agregar</strong>
            </li>

        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-12 margin-top">
            <a class="btn btn-primary right" href="/hotel/"><i class="fa fa-mail-reply"></i> Regresar</a>
        </div>

        <div class="col-lg-12 margin-top">
                  <?php foreach ($this->flashMessages() as $namespace => $messages) : ?>
                        <?php if (count($messages)) : ?>
                            <?php foreach ($messages as $message) : ?>
                            
                                 <div class="alert alert-<?= $namespace ?> alert-dismissable">
                                    <a aria-hidden="true" data-dismiss="alert" class="close" type="button">×</a>
                                    <?php echo $message; ?>
                                </div>

                            <?php endforeach; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>

        </div>


        <div class="col-lg-12">

        <div class="panel-options">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Datos hotel</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Imagenes</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">Comentarios Url</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4">Otros datos</a></li>
            </ul>
        </div>

        <div class="panel-body">
        <form class="form-horizontal" id="frmHotel" method="post">
            <div class="tab-content">
        
            <div id="tab-1" class="tab-pane active">
                
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Código</label>
                            <div class="col-sm-10">
                                <input type="text" id="id_hotel" name="id_hotel"  value="<?=$this->codigo;?>" readonly="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10"> 
                                <input type="text" id="nombre" name="nombre" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Calificación</label>
                            <div class="col-sm-10"> 
                                <input type="text" id="calificacion" name="calificacion" placeholder="1 a 5 estrellas" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">País</label>
                            <div class="col-sm-10"> 
                               <select id="id_pais" name="id_pais" class="form-control">
                                <option>-Elegir País-</option>
                                <?php
                                    foreach ($pais as $data) {
                                 ?>

                                   <option value="<?=$data['id_pais'];?>"><?=$data['Name']?></option>

                                 <?php
                                  }
                                 ?>
                               </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ciudad</label>
                            <div class="col-sm-10"> 
                               <select id="id_ciudad" name="id_ciudad" class="form-control">
                                <option value="0">-Seleccionar-</option>
                               </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Localidad</label>
                            <div class="col-sm-10"> 
                                <input type="text" id="localidad" name="localidad" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-10"> 
                                <textarea id="descripcion" name="descripcion" rows="13" class="form-control"></textarea> 
                            </div>
                        </div>
                 
                        <div class="form-group"><label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="estado" name="estado">
                                    <option>-Elegir-</option>
                                    <option value="0">Habilitado</option>
                                    <option value="1">Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="button" id="btn-cancelar">Cancelar</button>
                                <button class="btn btn-primary" type="submit">Guardar</button>
                             
                            </div>
                        </div>    
            </div>

            <div id="tab-2" class="tab-pane">
                <div class="form-group">
                <div class="col-sm-10">
                    <div class="btn btn-success btn-sm" id="btn_foto"><i class="fa fa-upload"></i> Agregar foto</div>
                    </div>
                </div>  

                <section id="no-more-tables">
                <table class="table table-striped">
                <thead>
                <tr>
                <th>Foto</th>
                <th></th>
                <th></th>
                </tr>
                </thead>
                <tbody id="tb_fotos_hotel">
                </tbody>
                </table>
                </section>         
            </div>

            <div id="tab-3" class="tab-pane">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Booking url</label>
                    <div class="col-sm-8">
                        <input type="text" id="booking_url" name="booking_url" class="form-control url_validation" data-web="Booking" data-index="1" />
                        
                    </div>
                    <div class="col-sm-2 res-url-1">
                       
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Despegar url</label>
                    <div class="col-sm-8">
                        <input type="text" id="despegar_url" name="despegar_url" class="form-control url_validation" data-web="Despegar"data-index="2" />
                    </div>
                    <div class="col-sm-2 res-url-2">
                      
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Orbitz url</label>
                    <div class="col-sm-8">
                        <input type="text" id="orbitz_url" name="orbitz_url" class="form-control url_validation" data-web="Orbitz"  data-index="3"/>
                    </div>
                    <div class="col-sm-2 res-url-3">
                       
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Hoteles.com url</label>
                    <div class="col-sm-8">
                        <input type="text" id="hoteles_url" name="hoteles_url" class="form-control url_validation" data-web="Hotels" data-index="4" />
                    </div>
                    <div class="col-sm-2 res-url-4">
                     
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Expedia url</label>
                    <div class="col-sm-8">
                        <input type="text" id="expedia_url" name="expedia_url" class="form-control url_validation" data-web="Expedia" data-index="5" />
                    </div>
                    <div class="col-sm-2 res-url-5">
                     
                    </div>
                </div>

                <div class="form-group">
                     <label class="col-sm-2 control-label">Puntaje (promedio)</label>
                    <div class="col-sm-2">
                        <input type="text" id="puntaje" name="puntaje" class="form-control"  readonly/>    
                    </div>
                    <div class="col-sm-2">
                       <button class="btn btn-info" type="button" id="btn-promedio"><i class="fa fa-cloud-download"></i> Calcular promedio</button> 
                    </div>
                    <div class="col-sm-6" id="lp">
                         
                  
                    </div>
                </div>

            </div>

            <div id="tab-4" class="tab-pane">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Dirección</label>
                    <div class="col-sm-8">
                        <input type="text" id="direccion" name="direccion"  class="form-control" placeholder="Ingresa la dirección">
                    </div>
                
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Mapa</label>
                    <div class="col-sm-8">
                        <input type="text" id="mapa" name="mapa"  class="form-control" placeholder="Ingresa la url">
                    </div>
                
                </div>
         
            </div>

            </div>
        </form>

        </div>


        </div>

    </div>

</div>

</div>

     



<?php
    echo $this->inlineScript()
        ->appendFile($this->basePath() . '/js/global/library/upload/AjaxUpload.2.0.min.js')
        ->appendFile($this->basePath() . '/js/module/admin/hotel/hotel-add.js');
?>