<?php
    $hoteles = $this->hoteles;
?>


<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Hoteles</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="active">
                <strong>Hoteles</strong>
            </li>

        </ol>
    </div>

</div>


<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">

<div class="col-lg-12 margin-top ">
        <a class="btn btn-primary right" href="/hotel/add/"><i class="fa fa-check"></i> Agregar</a>
</div>


<div class="col-lg-12">

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Lista de Hoteles  </h5>
        <div class="ibox-tools">
        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </div>
    </div>
    <div class="ibox-content">
        <section id="no-more-tables">
        <table class="table table-striped">
        <thead>
        <tr>
            <th>Código</th>
            <th>Hotel</th>
            <th></th>
        </tr>
        </thead>
        <tbody id="tb_lista_hotel">
            <?php
              foreach ($hoteles as $data) {
            ?>
            <tr>
               <td data-title="Código"><?= $data['id_hotel']; ?></td>
               <td data-title="Hotel"><?= $data['nombre']; ?></td>
               <td><div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-warning btn-sm dropdown-toggle">Action <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="/hotel/update/<?=$data['id_hotel']?>"><i class="fa fa-edit"></i> Editar</a></li>
                                <li><a href="#"><i class="fa fa-times"></i> Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
            </tr>

            <?php } ?>


        </tbody>
        </table>
        </section>
    </div>

</div>

</div>
</div>
</div>


</div>


