
<?php 
    $hotel = $this->hotel;
    $foto = $this->foto;
?>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Hoteles</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">Hoteles</a>
            </li>
            <li class="active">
                <strong>Actualizar</strong>
            </li>

        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-12 margin-top">
            <a class="btn btn-primary right" href="/hotel/"><i class="fa fa-mail-reply"></i> Regresar</a>
        </div>

        <div class="col-lg-12 margin-top">
                  <?php foreach ($this->flashMessages() as $namespace => $messages) : ?>
                        <?php if (count($messages)) : ?>
                            <?php foreach ($messages as $message) : ?>
                            
                                 <div class="alert alert-<?= $namespace ?> alert-dismissable">
                                    <a aria-hidden="true" data-dismiss="alert" class="close" type="button">×</a>
                                    <?php echo $message; ?>
                                </div>

                            <?php endforeach; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>

        </div>


        <div class="col-lg-12">

        <div class="panel-options">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Datos hotel</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Imagenes</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">Comentarios Url</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4">Otros datos</a></li>
            </ul>
        </div>

        <div class="panel-body">
        <form class="form-horizontal" id="frmHotel" method="post">
            <div class="tab-content">
        
            <div id="tab-1" class="tab-pane active">
                
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Código</label>
                            <div class="col-sm-10">
                                <input type="text" id="id_hotel" name="id_hotel"  value="<?=$hotel['id_hotel'];?>" readonly="" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10"> 
                                <input type="text" id="nombre" name="nombre" class="form-control" value="<?=$hotel['nombre'];?>">
                                <input type="hidden" id="nombre-a" name="nombre-a" class="form-control" value="<?=$hotel['nombre'];?>">
                                <input type="hidden" id="url" name="url" class="form-control" value="<?=$hotel['url'];?>">
                           
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Calificación</label>
                            <div class="col-sm-10"> 
                                <input type="text" id="calificacion" name="calificacion" placeholder="1 a 5 estrellas" class="form-control" value="<?=$hotel['calificacion'];?>">
                            </div>
                        </div>

                               <div class="form-group">
                            <label class="col-sm-2 control-label">País</label>
                            <div class="col-sm-10"> 
                               <select id="id_pais" name="id_pais" class="form-control">
                                <option>-Elegir País-</option>
                                <?php
                                    foreach ($pais as $data) {
                                 ?>
                                 <option value="<?=$data['id_pais'];?>"<?php echo  ($data['id_pais']==$hotel['id_pais']) ? "selected" :" "; ?> >
                                <?=$data['Name']?></option>

                                 <?php
                                  }
                                 ?>
                               </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ciudad</label>
                            <div class="col-sm-10"> 
                               <select id="id_ciudad" name="id_ciudad" class="form-control">
                                <option value="0">-Seleccionar-</option>
                                <?php
                                    foreach ($ciudad as $data) {
                                 ?>
                                 <option value="<?=$data['id_ciudad'];?>"<?php echo  ($data['id_ciudad']==$hotel['id_ciudad']) ? "selected" :" "; ?> >
                                <?=$data['Name']?></option>

                                 <?php
                                  }
                                 ?>
                               </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Localidad</label>
                            <div class="col-sm-10"> 
                                <input type="text" id="localidad" name="localidad" class="form-control" value="<?=$hotel['localidad']?>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Descripción</label>
                            <div class="col-sm-10"> 
                                <textarea id="descripcion" name="descripcion" rows="13" class="form-control"><?=$hotel['descripcion']?></textarea> 
                            </div>
                        </div>
                 
                        <div class="form-group"><label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="estado" name="estado">
                                    <option>-Elegir-</option>
                                    <option value="0" <?php echo ($hotel['estado']=="0") ? "selected" : ""; ?> >Habilitado</option>
                                    <option value="1" <?php echo ($hotel['estado']=="1") ? "selected" : ""; ?> >Deshabilitado</option>
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="button" id="btn-cancelar">Cancelar</button>
                                <button class="btn btn-primary" type="submit">Actualizar</button>
                             
                            </div>
                        </div>    
            </div>

            <div id="tab-2" class="tab-pane">
                <div class="form-group">
                <div class="col-sm-10">
                    <div class="btn btn-success btn-sm" id="btn_foto"><i class="fa fa-upload"></i> Agregar foto</div>
                    </div>
                </div>  

                <section id="no-more-tables">
                <table class="table table-striped">
                <thead>
                <tr>
                <th>Foto</th>
                <th></th>
                <th></th>
                </tr>
                </thead>
                <tbody id="tb_fotos_hotel">
                    <?php
                        foreach ($foto as $f) {

                    ?>
                    <tr>
                    <td data-title='Foto'><img src="/img/hoteles/<?=$f['foto']?>" width="80"></td>
                    <td><div class='btn-group'><button data-toggle='dropdown' class='btn btn-warning btn-sm dropdown-toggle'>Action <span class='caret'></span></button><ul class='dropdown-menu'><li><a href='javascript:void(0)' class='eliminarF' ><i class='fa fa-times'></i> Eliminar</a></li></ul></div>
                    </td>
                    <td style='display:none'><?=$f['foto']?></td>
                    </tr>
                    <?php
                        }
                    ?>

                </tbody>

                </table>
                </section>         
            </div>

            <div id="tab-3" class="tab-pane">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Booking url</label>
                    <div class="col-sm-8">
                        <input type="text" id="booking_url" name="booking_url" class="form-control url_validation" data-web="Booking" data-index="1" value="<?=$hotel['booking_url']?>" />
                        
                    </div>
                    <div class="col-sm-2 res-url-1">
                       
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Despegar url</label>
                    <div class="col-sm-8">
                        <input type="text" id="despegar_url" name="despegar_url" class="form-control url_validation" data-web="Despegar"data-index="2" value="<?=$hotel['despegar_url']?>" />
                    </div>
                    <div class="col-sm-2 res-url-2">
                      
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Orbitz url</label>
                    <div class="col-sm-8">
                        <input type="text" id="orbitz_url" name="orbitz_url" class="form-control url_validation" data-web="Orbitz"  data-index="3" value="<?=$hotel['orbitz_url']?>"/>
                    </div>
                    <div class="col-sm-2 res-url-3">
                       
                    </div>

                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Hoteles.com url</label>
                    <div class="col-sm-8">
                        <input type="text" id="hoteles_url" name="hoteles_url" class="form-control url_validation" data-web="Hotels" data-index="4" value="<?=$hotel['hoteles_url']?>"/>
                    </div>
                    <div class="col-sm-2 res-url-4">
                     
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Expedia url</label>
                    <div class="col-sm-8">
                        <input type="text" id="expedia_url" name="expedia_url" class="form-control url_validation" data-web="Expedia" data-index="5" value="<?=$hotel['expedia_url']?>"/>
                    </div>
                    <div class="col-sm-2 res-url-5">
                     
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Puntaje (promedio)</label>
                    <div class="col-sm-2">
                        <input type="text" id="puntaje" name="puntaje" class="form-control" value="<?=$hotel['puntaje']?>" readonly/>    
                    </div>
                    <div class="col-sm-2">
                       <button class="btn btn-info" type="button" id="btn-promedio"><i class="fa fa-cloud-download"></i> Calcular promedio</button> 
                    </div>
                    <div class="col-sm-6" id="lp">
                       
                    </div>
                </div>

            </div>

            <div id="tab-4" class="tab-pane">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Dirección</label>
                    <div class="col-sm-8">
                        <input type="text" id="direccion" name="direccion"  class="form-control" placeholder="Ingresa la dirección"value="<?=$hotel['direccion'];?>">
                    </div>
                
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Mapa</label>
                    <div class="col-sm-8">
                        <input type="text" id="mapa" name="mapa"  class="form-control" placeholder="Ingresa la url" value='<?=$hotel['mapa'];?>'>
                    </div>
                
                </div>
         
            </div>
            </div>
        </form>

        </div>


        </div>

    </div>

</div>

</div>



<?php
    echo $this->inlineScript()
        ->appendFile($this->basePath() . '/js/global/library/upload/AjaxUpload.2.0.min.js')
        ->appendFile($this->basePath() . '/js/module/admin/hotel/hotel-add.js');
?>