<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Configuración</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Guest comment</a>
            </li>
            <li>
                <a href="/">Configurar</a>
            </li>
            <li class="active">
                <strong>Data filtros</strong>
            </li>

        </ol>
    </div>

</div>

<div class="wrapper wrapper-content animated fadeInRight">

	<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Data filtros </h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>

                </div>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" id="frmPais">
                    <div class="form-group">
                    	<label class="col-sm-2 control-label">Lista Hotel</label>
                        <div class="col-sm-8"><input type="text" id="hotel-data" name="hotel-data"  readonly="" class="form-control"></div>
                        <div class="col-sm-2" id="l-hotel"></div>
                    </div>

                    <div class="form-group">
                    	<label class="col-sm-2 control-label">Lista Pais</label>
                        <div class="col-sm-8">
                        	<input type="text" id="pais-data" name="pais-data"  readonly="" class="form-control">
                        </div>
                         <div class="col-sm-2" id="l-pais"></div>
                    </div>

                    <div class="form-group">
                    	<label class="col-sm-2 control-label">Lista Ciudad</label>
                        <div class="col-sm-8">
                        	<input type="text" id="ciudad-data" name="ciudad-data"  readonly="" class="form-control">
                        </div>
                        <div class="col-sm-2" id="l-ciudad"></div>
                    </div>

                 	<div class="form-group">
                 		<label class="col-sm-2 control-label">Lista Localidad</label>
                        <div class="col-sm-8">
                        	<input type="text" id="localidad-data" name="localidad-data"  readonly="" class="form-control">
                        </div>

                        <div class="col-sm-2" id="l-localidad"></div>
                    </div>
                 
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                         
                            <button class="btn btn-primary" type="button" id="btn-procesar">Procesar</button>
                            <div id="loading-registro"></div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>
</div>


<?php
    echo $this->inlineScript()
        ->appendFile($this->basePath() . '/js/module/admin/config/config.js');
?>
