/* FONT */

@import url("//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;lang=en");
/* GLOBAL */

 body {
     font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
     background-color: #2f4050;
     font-size: 13px;
     color: #676a6c;

}

body.boxed-layout {
    background: url('patterns/shattered.png');
}

body.boxed-layout #wrapper {
    background-color: #2f4050;
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.block {
    display: block;
}

.clear {
    display: block;
    overflow: hidden;
}

a:hover, a:focus {
    text-decoration: none;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}
.font-bold {
    font-weight: 600;
}

.font-noraml {
    font-weight: 400;
}

.text-uppercase {
    text-transform: uppercase;
}

.b-r {
    border-right: 1px solid #E7EAEC;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

.hr-line-solid {
    border-bottom: 1px solid #EAEEF1;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid !important;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* ERROR & LOGIN & LOCKSCREEN*/

.middle-box {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -200px;
    z-index: 100;
}

.lockscreen.middle-box {
    width: 200px;
    margin-left: -100px;
    margin-top: -190px;
}

.loginscreen.middle-box {
    width: 300px;
    margin-left: -150px;
    margin-top: -330px;
}

.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0px;
}

.middle-box h1 {
    font-size: 170px;
}


.wrapper .middle-box {
    margin-top: 140px;
}

.lock-word {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -180px;
    margin-left: -470px;
}

.lock-word span {
    font-size: 100px;
    font-weight: 600;
    color: #e9e9e9;
    display: inline-block;
}

.lock-word .first-word {
    margin-right: 160px;
}

/* DASBOARD */

.dashboard-header {
    border-top: 4px solid #E7EAEC;
    padding: 20px 20px 20px 20px;
}

.dashboard-header h2 {
    margin-top: 10px;
    font-size: 26px;
}

.fist-item {
    border-top: none !important;
}

.statistic-box {
    margin-top: 40px;

}

.dashboard-header .list-group-item span.label {
    margin-right: 10px;
}

.list-group.clear-list .list-group-item {
    border-top: 1px solid #E7EAEC;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    padding: 10px 0;
}
ul.clear-list:first-child {
    border-top: none !important;
}

/* EASY PIE CHART*/

.easypiechart {
    position: relative;
    text-align: center;
}
.easypiechart .h2 {
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
}
.easypiechart canvas {
    /*position: absolute;*/
    top: 0;
    left: 0;
}
.easypiechart .easypie-text {
    line-height: 1;
    position: absolute;
    top: 33px;
    width: 100%;
    z-index: 1;
}
.easypiechart img {
    margin-top: -4px;
}

/* Intimeline */

.intimeline {
    position: relative;
}

.centered-timeline {
    position: relative;
}

.intimeline-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.intimeline-list li {
    padding: 15px 0;
    position: relative;
}

.intimeline-list .intimeline-icon {
    background-color: #FFFFFF;
    border: 1px solid #E7EAEC;
    border-radius: 16px;
    font-size: 14px;
    height: 32px;
    width: 32px;
    left: 80px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 11px;
    z-index: 100;
}
.intimeline-list .intimeline-time {
    float: left;
    text-align: right;
    width: 70px;
}

.intimeline-right .intimeline-time {
    float: right;
    text-align: left;
    width: 70px;
}

.intimeline-list:after {
    background-color: #E7EAEC;
    bottom: 0;
    content: "";
    display: block;
    left: 115px;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 1;
}

.intimeline-list li.active {
    background-color: #e0e6f0;
}

.intimeline-left {
    width: 300px;
    left: 50%;
    margin-left: -95px;
}

.intimeline-right {
    left: 50%;
    margin-left: -203px;
    text-align: right;
    width: 300px;
}

.centered-timeline .intimeline-list:after {
    background-color: #E7EAEC;
    bottom: 0;
    content: "";
    display: block;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: 1;
}

.block-content-full .intimeline-message {
    padding-right: 20px;
}
.intimeline-list .intimeline-message {
    margin-left: 110px;
}

.intimeline-right .intimeline-message {
    margin-right: 110px;
    margin-left: 0;
}

.intimeline-right .intimeline-icon {
    right: 80px;
    left: auto;
}

.intimeline-icon.active {
    background-color: #1AB394;
    border-color: #1AB394;
    color: #FFFFFF;
}

.intimeline-icon.active.blue-bg {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF;
}

.intimeline-icon.active.lazur-bg {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF;
}

.intimeline-icon.active.yellow-bg {
    background-color: #f7c029;
    border-color: #f7c029;
    color: #FFFFFF;
}

.intimeline-list li:hover {
    background-color: #f6f6f6;
    border-radius: 4px;
}

.intimeline-message {
    padding: 0 10px;
}
/* BACKGROUNDS */

.gray-bg {
    background-color: #f3f3f4;
}

.white-bg {
    background-color: #ffffff;
}

.navy-bg {
    background-color: #1AB394;
    color: #ffffff;
}

.blue-bg {
    background-color: #1c84c6;
    color: #ffffff;
}

.lazur-bg {
    background-color: #23c6c8;
    color: #ffffff;
}

.yellow-bg {
    background-color: #f7c029;
    color: #ffffff;
}

.red-bg {
    background-color: #ED5565 ;
    color: #ffffff;
}

.black-bg {
    background-color: #262626;
}

.panel-primary  {
    border-color: #1AB394;
}

.panel-primary > .panel-heading {
    background-color: #1AB394;
    border-color: #1AB394;
}

.panel-success  {
    border-color: #1c84c6;
}

.panel-success > .panel-heading {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #ffffff;
}

.panel-info  {
    border-color: #23c6c8;
}

.panel-info > .panel-heading {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #ffffff;
}

.panel-warning  {
    border-color: #f7c029;
}

.panel-warning > .panel-heading {
    background-color: #f7c029;
    border-color: #f7c029;
    color: #ffffff;
}

.panel-danger  {
    border-color: #ED5565 ;
}

.panel-danger > .panel-heading {
    background-color: #ED5565 ;
    border-color: #ED5565 ;
    color: #ffffff;
}

.progress-bar {
    background-color: #1AB394;
}

.progress-bar-navy-light {
    background-color: #3dc7ab;
}

.progress-bar-success {
    background-color: #1c84c6;
}

.progress-bar-info {
    background-color: #23c6c8;
}

.progress-bar-warning {
    background-color: #f7c029;
}

.progress-bar-danger {
    background-color: #ED5565 ;
}



.panel-title {
    font-size: inherit;
}

.jumbotron {
    border-radius: 6px;
}

.jumbotron h1 {
    margin-top: 0;
}

/* COLORS */

.text-navy {
    color: #1AB394;
}


.text-primary {
    color: inherit;
}

.text-success {
    color: #1c84c6;
}

.text-info {
    color: #23c6c8;
}

.text-warning {
    color: #f7c029;
}

.text-danger {
    color: #ED5565 ;
}

.text-muted {
    color: #888888;
}



/* GALLERY */
.gallery > .row > div {
    margin-bottom: 15px;
}

/* INPUTS */
.inline {
    display: inline-block !important;
}

.input-s-sm {
    width: 120px;
}
.input-s {
    width: 200px;
}
.input-s-lg {
    width: 250px;
}

.i-checks {
    padding-left: 0;
}

.form-control {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}

.form-control:focus {
    border-color: #1AB394 ;
}

.has-success .form-control {
    border-color: #1AB394;
}

.has-warning .form-control {
    border-color: #f7c029;
}

.has-error .form-control {
    border-color: #ED5565 ;
}

.has-success .control-label {
    color: #1AB394;
}

.has-warning .control-label {
    color: #f7c029;
}

.has-error .control-label {
    color: #ED5565 ;
}

.input-group-addon {
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}

.modal-content {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    outline: 0 none;
    position: relative;
}

.modal-body {
    padding: 20px 30px 30px 30px;
}

.spinner-buttons.input-group-btn .btn-xs {
    line-height: 1.13;
}
.spinner-buttons.input-group-btn {
    width: 20%;
}

.noUi-connect {
    background: none repeat scroll 0 0 #1AB394;
    box-shadow: none;
}

.slider_red .noUi-connect {
    background: none repeat scroll 0 0 #ED5565;
    box-shadow: none;
}
/* TOOGLE SWICH */

.onoffswitch {
    position: relative; width: 64px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #1AB394; border-radius: 2px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #1AB394; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #FFFFFF; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 20px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #1AB394; border-radius: 2px;
    position: absolute; top: 0; bottom: 0; right: 44px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/* CHOSEN PLUGIN */

.chosen-container-single .chosen-single {
    background: #ffffff;
    box-shadow: none;
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #CBD5DD;
    border-radius: 2px;
    cursor: text;
    height: auto !important;
    margin: 0;
    min-height: 30px;
    overflow: hidden;
    padding: 4px 12px;
    position: relative;
    width: 100%;
}

.chosen-container-multi .chosen-choices li.search-choice {
    background: #f1f1f1;
    border: 1px solid #ededed;
    border-radius: 2px;
    box-shadow: none;
    color: #333333;
    cursor: default;
    line-height: 13px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}


/* PAGINATIN */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #f4f4f4;
    border-color: #DDDDDD;
    color: inherit;
    cursor: default;
    z-index: 2;
}

.pagination > li > a, .pagination > li > span {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    color: inherit;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 4px 10px;
    position: relative;
    text-decoration: none;
}

/* TOOLTIPS */

.tooltip-inner {
    background-color: #2F4050;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #2F4050;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #2F4050;
}
.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #2F4050;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #2F4050;
}

/* WRAPPERS */

 #wrapper {
    width: 100%;
}

.wrapper {
    padding: 0 20px;
}

.wrapper-content {
    padding: 20px 10px 0px 10px
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 240px;
        min-height: 1000px;
    }
}

.title-action {
    text-align: right;
    padding-top: 30px;
}
/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 14px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10px;
}

h3,h4,h5 {
    margin-top: 5px;
    font-weight: 600;
}

.ibox-content h1,.ibox-content h2,.ibox-content h3,.ibox-content h4,.ibox-content h5,
.ibox-title h1,.ibox-title h2,.ibox-title h3,.ibox-title h4,.ibox-title h5
{
    margin-top: 5px;
}

ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}

.big-icon {
    font-size: 160px;
    color: #e5e6e7;
}

/* PANELS */

.page-heading {
    border-top: 4px solid #E7EAEC;
    padding: 0px 10px 20px 10px;
}

.panel-heading h1, .panel-heading h2 {
    margin-bottom: 5px;
}

/* PIN BOARD */
ul.notes li, ul.tag-list li{
    list-style:none;
}
ul.notes li h4 {
    margin-top: 20px;
    font-size: 16px;
}
ul.notes li div{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:140px;
    width:140px;
    padding:1em;
    position: relative;
}

ul.notes li div small {
    position: absolute;
    top:5px;
    right: 5px;
    font-size: 10px
}

ul.notes li div a {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: inherit;
}

ul.notes li{
    margin:10px 40px 50px 0px;
    float:left;
}
ul.notes li div p {
    font-size: 12px;
}
ul.notes li div{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:140px;
    width:140px;
    padding:1em;
    /* Firefox */
    -moz-box-shadow:5px 5px 2px rgba(33,33,33,1);
    /* Safari+Chrome */
    -webkit-box-shadow: 5px 5px 2px rgba(33,33,33,.7);
    /* Opera */
    box-shadow: 5px 5px 2px rgba(33,33,33,.7);
}

ul.notes li div{
    -webkit-transform:rotate(-6deg);
    -o-transform:rotate(-6deg);
    -moz-transform:rotate(-6deg);
}

ul.notes li:nth-child(even) div{
    -o-transform:rotate(4deg);
    -webkit-transform:rotate(4deg);
    -moz-transform:rotate(4deg);
    position:relative;
    top:5px;
}
ul.notes li:nth-child(3n) div{
    -o-transform:rotate(-3deg);
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    position:relative;
    top:-5px;
}
ul.notes li:nth-child(5n) div{
    -o-transform:rotate(5deg);
    -webkit-transform:rotate(5deg);
    -moz-transform:rotate(5deg);
    position:relative;
    top:-10px;
}

ul.notes li div:hover,ul.notes li div:focus{

    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    position:relative;
    z-index:5;
}

ul.notes li div{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:210px;
    width:210px;
    padding:1em;
    -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
    -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    -moz-transition:-moz-transform .15s linear;
    -o-transition:-o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
}

/* FILE MANAGER */

.file-box {
    float: left;
    width: 220px;
}

.file-manager h5 {
    text-transform: uppercase;
}
    }
.file-manager {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.folder-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}
.folder-list li {
    border-bottom: 1px solid #E7EAEC;
    display: block;
}
.folder-list li i {
    margin-right: 8px;
    color: #3d4d5d;
}

.category-list li a {
    color: #666666;
    display: block;
    padding: 5px 0;
}

.category-list li {
    display: block;
}

.category-list li i {
    margin-right: 8px;
    color: #3d4d5d;
}

.category-list li a .text-navy {
    color: #1AB394;
}
.category-list li a .text-primary {
    color: #1C84C6;
}
.category-list li a .text-info {
    color: #23C6C8;
}
.category-list li a .text-danger {
    color: #EF5352;
}
.category-list li a .text-warning {
    color: #F8AC59;
}

.file-manager h5.tag-title {
    margin-top: 20px;
}
.file-manager .tag-list li {
    float: left;
}

.file-manager .tag-list li a {
    font-size: 10px;
    background-color: #F3F3F4;
    padding: 5px 12px;
    color: inherit;
    border-radius: 2px;
    border: 1px solid #E7EAEC;
    margin-right: 5px;
    margin-top: 5px;
    display: block;
}

.file {
    border: 1px solid #E7EAEC;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 20px;
    margin-right: 20px;
}

.file-manager .hr-line-dashed {
    margin: 15px 0;
}

.file .icon, .file .image {
    height: 100px;
    overflow: hidden;
}

.file .icon {
    padding: 15px 10px;
    text-align: center;
}
.file-control {
    color: inherit;
    font-size: 11px;
    margin-right: 10px;
}

.file-control.active {
    text-decoration: underline;
}

.file .icon i {
    font-size: 70px;
    color: #dadada;
}

.file .file-name {
    padding: 10px;
    background-color: #f8f8f8;
    border-top: 1px solid #E7EAEC;
}

.file-name small {
    color: #676A6C;
}


.corner {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 0.6em solid transparent;
    border-right: 0.6em solid #f1f1f1;
    border-bottom: 0.6em solid #f1f1f1;
    right: 0em;
    bottom: 0em
}

a.compose-mail {
    padding: 8px 10px;
}

/* NAVIGATION */

.nav > li > a {
    color: #A7B1C2;
    font-weight: 600;
    /*text-transform: uppercase;*/
    padding: 14px 20px 14px 25px;
}

.nav.navbar-right > li > a {
    color: #999c9e;
}

.nav > li.active > a {
    /*background-color: #2a3947;*/
    color: #ffffff;
}

.nav > li > a:hover, .nav > li > a:focus  {
    background-color: #2a3947;
}

.nav.navbar-top-links > li > a:hover, .nav.navbar-top-links > li > a:focus  {
    background-color: #ececec;
}

.nav > li > a i {
    margin-right: 6px;
}

.navbar {
    border: 0;
}

.navbar-default {
    /*background-color: #2f4050;*/
    background-color: transparent;
    border-color: #2f4050;
}

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 20px 10px;
    min-height: 50px;
}
.dropdown-menu {
    border: medium none;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
    display: none;
    float: left;
    font-size: 12px;
    left: 0;
    list-style: none outside none;
    padding: 0;
    position: absolute;
    text-shadow: none;
    top: 100%;
    z-index: 1000;
    border-radius: 2px;
}

.dropdown-menu > li > a {
    border-radius: 3px;
    color: inherit;
    line-height: 25px;
    margin: 4px;
    text-align: left;
    font-weight: normal;
}

.dropdown-menu > li > a.font-bold {
    font-weight: 600;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.dropdown-messages, .dropdown-alerts {
    padding: 10px 10px 10px 10px;
}

.dropdown-messages li a, .dropdown-alerts li a {
    font-size: 12px;
}

.dropdown-messages li em, .dropdown-alerts li em {
    font-size: 10px;
}

.nav.navbar-top-links .dropdown-alerts a {
    font-size: 12px;
}

.nav-header {
    padding: 33px 25px;
    background: url("../../images/header-profile.png") no-repeat;
}

.nav > li.active {
    border-left: 4px solid #18A78A;
    background: #233646;
}

.nav.nav-second-level > li.active {
    border: none;
}

.nav.nav-second-level.collapse[style] {
    height: auto !important;
}

.nav-header a {
    color: #DFE4ED;
}

.nav-header .text-muted {
    color: #8095a8;
}

.minimalize-styl-2 {
    padding: 4px 12px;
    margin: 14px 5px 5px 20px;
    font-size: 14px;
    float: left;
}

.navbar-form-custom {
    float: left;
    height: 50px;
    padding: 0;
    width: 200px;
}

.nav.navbar-top-links a {
    font-size: 14px;
}

.navbar-form-custom .form-control {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 14px;
    height: 60px;
    margin: 0;
    z-index: 2000;
}

.count-info .label {
    line-height: 12px;
    padding: 2px 5px;
    position: absolute;
    right: 6px;
    top: 12px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}

.nav-third-level li a {
    padding-left: 62px;
}

.mini-navbar .nav li:hover > .nav-second-level, .mini-navbar .nav li:focus > .nav-second-level {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 140px;
    height: auto;
}

body.mini-navbar .navbar-default .nav > li > .nav-second-level li a {
    font-size: 12px;
    border-radius: 3px;
}

.mini-navbar .nav-second-level li a {
    padding: 10px 10px 10px 15px;
}

.mini-navbar .nav-second-level {
    position: absolute;
    left: 70px;
    top: 0px;
    background-color: #2F4050;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}

.mini-navbar li.active .nav-second-level {
    left:65px
}

.logo-element {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: white;
    display: none;
    padding: 18px 0;
}

.navbar-static-side, #page-wrapper {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}


body.mini-navbar .navbar-static-side {
    width: 70px;
}

body.mini-navbar .profile-element, body.mini-navbar .nav-label, body.mini-navbar .nav-second-level, body.mini-navbar .navbar-default .nav li a span {
    display: none;
}



body.mini-navbar .navbar-default .nav > li > a {
    font-size: 16px;
}

body.mini-navbar .logo-element {
    display: block;
}

body.mini-navbar .nav-header {
    padding: 0;
    background-color: #1AB394;
}

body.mini-navbar #page-wrapper {
    margin: 0 0 0 70px;
}


/* BUTTONS */

.btn {
    border-radius: 3px;
}

.float-e-margins .btn {
    margin-bottom: 5px;
}

.btn-w-m {
    min-width: 120px;
}

.btn-primary.btn-outline {
    color: #1AB394;
}

.btn-success.btn-outline {
    color: #1C84C6;
}

.btn-info.btn-outline {
    color: #23C6C8;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.btn-primary {
    background-color: #1AB394;
    border-color: #1AB394;
    color: #FFFFFF ;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #18a78a;
    border-color: #18a78a;
    color: #FFFFFF ;
}
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active, .btn-primary.disabled.active, .btn-primary[disabled], .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled]:active, .btn-primary.active[disabled], fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary.active {
    background-color: #1AB394;
    border-color: #1AB394;
}

.btn-success {
    background-color: #1c84c6;
    border-color: #1c84c6;
    color: #FFFFFF ;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #1b7ab7;
    border-color: #1b7ab7;
    color: #FFFFFF ;
}
.btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-image: none;
}
.btn-success.disabled, .btn-success.disabled:hover, .btn-success.disabled:focus, .btn-success.disabled:active, .btn-success.disabled.active, .btn-success[disabled], .btn-success[disabled]:hover, .btn-success[disabled]:focus, .btn-success[disabled]:active, .btn-success.active[disabled], fieldset[disabled] .btn-success, fieldset[disabled] .btn-success:hover, fieldset[disabled] .btn-success:focus, fieldset[disabled] .btn-success:active, fieldset[disabled] .btn-success.active {
    background-color: #1c84c6;
    border-color: #1c84c6;
}

.btn-info {
    background-color: #23c6c8;
    border-color: #23c6c8;
    color: #FFFFFF ;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #21babc;
    border-color: #21babc;
    color: #FFFFFF ;
}
.btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.disabled, .btn-info.disabled:hover, .btn-info.disabled:focus, .btn-info.disabled:active, .btn-info.disabled.active, .btn-info[disabled], .btn-info[disabled]:hover, .btn-info[disabled]:focus, .btn-info[disabled]:active, .btn-info.active[disabled], fieldset[disabled] .btn-info, fieldset[disabled] .btn-info:hover, fieldset[disabled] .btn-info:focus, fieldset[disabled] .btn-info:active, fieldset[disabled] .btn-info.active {
    background-color: #23c6c8;
    border-color: #23c6c8;
}

.btn-default {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF ;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-color: #b9b9b9;
    border-color: #b9b9b9;
    color: #FFFFFF ;
}
.btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled, .btn-default.disabled:hover, .btn-default.disabled:focus, .btn-default.disabled:active, .btn-default.disabled.active, .btn-default[disabled], .btn-default[disabled]:hover, .btn-default[disabled]:focus, .btn-default[disabled]:active, .btn-default.active[disabled], fieldset[disabled] .btn-default, fieldset[disabled] .btn-default:hover, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default.active {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
}

.btn-warning {
    background-color: #f8ac59;
    border-color: #f8ac59;
    color: #FFFFFF ;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-color: #e7a0539;
    border-color: #e7a053;
    color: #FFFFFF ;
}
.btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
    background-image: none;
}
.btn-warning.disabled, .btn-warning.disabled:hover, .btn-warning.disabled:focus, .btn-warning.disabled:active, .btn-warning.disabled.active, .btn-warning[disabled], .btn-warning[disabled]:hover, .btn-warning[disabled]:focus, .btn-warning[disabled]:active, .btn-warning.active[disabled], fieldset[disabled] .btn-warning, fieldset[disabled] .btn-warning:hover, fieldset[disabled] .btn-warning:focus, fieldset[disabled] .btn-warning:active, fieldset[disabled] .btn-warning.active {
    background-color: #f8ac59;
    border-color: #f8ac59;
}

.btn-danger {
    background-color: #ef5352;
    border-color: #ef5352;
    color: #FFFFFF ;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-color: #e34e4d;
    border-color: #e34e4d;
    color: #FFFFFF ;
}
.btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
    background-image: none;
}
.btn-danger.disabled, .btn-danger.disabled:hover, .btn-danger.disabled:focus, .btn-danger.disabled:active, .btn-danger.disabled.active, .btn-danger[disabled], .btn-danger[disabled]:hover, .btn-danger[disabled]:focus, .btn-danger[disabled]:active, .btn-danger.active[disabled], fieldset[disabled] .btn-danger, fieldset[disabled] .btn-danger:hover, fieldset[disabled] .btn-danger:focus, fieldset[disabled] .btn-danger:active, fieldset[disabled] .btn-danger.active {
    background-color: #ef5352;
    border-color: #ef5352;
}

.btn-link {
    color: inherit ;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    color: #1c84c6;
}
.btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    background-image: none;
}
.btn-link.disabled, .btn-link.disabled:hover, .btn-link.disabled:focus, .btn-link.disabled:active, .btn-link.disabled.active, .btn-link[disabled], .btn-link[disabled]:hover, .btn-link[disabled]:focus, .btn-link[disabled]:active, .btn-link.active[disabled], fieldset[disabled] .btn-link, fieldset[disabled] .btn-link:hover, fieldset[disabled] .btn-link:focus, fieldset[disabled] .btn-link:active, fieldset[disabled] .btn-link.active {
    color: #cacaca;
}

.btn-white {
    color: inherit;
    background: white ;
    border: 1px solid #E7EAEC ;
}
.btn-white:hover, .btn-white:focus, .btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    color: inherit;
    border: 1px solid #d2d2d2;
}

.btn-white:active, .btn-white.active {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
}

.btn-white:active, .btn-white.active, .open .dropdown-toggle.btn-white {
    background-image: none;
}
.btn-white.disabled, .btn-white.disabled:hover, .btn-white.disabled:focus, .btn-white.disabled:active, .btn-white.disabled.active, .btn-white[disabled], .btn-white[disabled]:hover, .btn-white[disabled]:focus, .btn-white[disabled]:active, .btn-white.active[disabled], fieldset[disabled] .btn-white, fieldset[disabled] .btn-white:hover, fieldset[disabled] .btn-white:focus, fieldset[disabled] .btn-white:active, fieldset[disabled] .btn-white.active {
    color: #cacaca;
}

.form-control, .form-control:focus, .has-error .form-control:focus, .has-success .form-control:focus, .has-warning .form-control:focus, .navbar-collapse, .navbar-form, .navbar-form-custom .form-control:focus, .navbar-form-custom .form-control:hover, .open .btn.dropdown-toggle, .panel, .popover, .progress, .progress-bar {
    box-shadow: none;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-rounded {
    border-radius: 50px;
}

.btn-large-dim {
    width: 90px;
    height: 90px;
    font-size: 42px;
}

button.dim {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    text-align:center;
    padding-top:6px;
    margin-right: 10px;
    position:relative;
    cursor:pointer;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: 20px !important;
    box-shadow: inset 0px 0px 0px #6a6a6a, 0px 5px 0px 0px #6a6a6a, 0px 10px 5px #999;
}

button.dim:active {
    top:3px;
    box-shadow: inset 0px 0px 0px #6a6a6a, 0px 2px 0px 0px #6a6a6a, 0px 5px 3px #999;
}

button.btn-primary.dim {
    box-shadow: inset 0px 0px 0px #12856e, 0px 5px 0px 0px #12856e, 0px 10px 5px #999;
}

button.btn-primary.dim:active {
    box-shadow: inset 0px 0px 0px #12856e, 0px 2px 0px 0px #12856e, 0px 5px 3px #999;
}

button.btn-default.dim {
    box-shadow: inset 0px 0px 0px #999999, 0px 5px 0px 0px #999999, 0px 10px 5px #999;
}

button.btn-default.dim:active {
    box-shadow: inset 0px 0px 0px #999999, 0px 2px 0px 0px #999999, 0px 5px 3px #999;
}

button.btn-warning.dim {
    box-shadow: inset 0px 0px 0px #d49047, 0px 5px 0px 0px #d49047, 0px 10px 5px #999;
}

button.btn-warning.dim:active {
    box-shadow: inset 0px 0px 0px #d49047, 0px 2px 0px 0px #d49047, 0px 5px 3px #999;
}

button.btn-info.dim {
    box-shadow: inset 0px 0px 0px #1a9698, 0px 5px 0px 0px #1a9698, 0px 10px 5px #999;
}

button.btn-info.dim:active {
    box-shadow: inset 0px 0px 0px #1a9698, 0px 2px 0px 0px #1a9698, 0px 5px 3px #999;
}

button.btn-success.dim {
    box-shadow: inset 0px 0px 0px #146293, 0px 5px 0px 0px #146293, 0px 10px 5px #999;
}

button.btn-success.dim:active {
    box-shadow: inset 0px 0px 0px #146293, 0px 2px 0px 0px #146293, 0px 5px 3px #999;
}

button.btn-danger.dim {
    box-shadow: inset 0px 0px 0px #b73635, 0px 5px 0px 0px #b73635, 0px 10px 5px #999;
}

button.btn-danger.dim:active {
    box-shadow: inset 0px 0px 0px #b73635, 0px 2px 0px 0px #b73635, 0px 5px 3px #999;
}

button.dim:before {
    font-size: 50px;
    line-height: 1em;
    font-weight: normal;
    color: #fff;
    display:block;
    padding-top:10px;

}

button.dim:active:before {
    top: 7px;
    font-size: 50px;
    text-shadow: 0px 3px 0px #07526e, 0px 5px 1px #07526e/*, 3px 0px 1px #07526e, 3px 3px 1px #07526e,
     -2px 0px 1px #68cff2*/;
}

/* FULLCALENDAR */

.fc-state-default {
    background-color: #ffffff;
    background-image: none;
    background-repeat: repeat-x;
    box-shadow: none;
    color: #333333;
    text-shadow: none;
}
.fc-state-default {
    border: 1px solid;
}

.fc-button {
    color: inherit;
    border: 1px solid #E7EAEC ;
    cursor: pointer;
    display: inline-block;
    height: 1.9em;
    line-height: 1.9em;
    overflow: hidden;
    padding: 0 0.6em;
    position: relative;
    white-space: nowrap;
}
.fc-state-active {
    background-color: #1AB394;
    border-color: #1AB394;
    color: #ffffff;
}

.fc-header-title h2 {
    font-size: 16px;
    font-weight: 600;
    color: inherit;
}

.fc-content .fc-widget-header, .fc-content .fc-widget-content {
    border-color: #E7EAEC;
    font-weight: normal;
}

.fc-border-separate tbody {
    background-color: #F8F8F8;
}

.fc-state-highlight {
    background: none repeat scroll 0 0 #FCF8E3;
}

.external-event {
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-bottom: 5px;
}

.fc-ltr .fc-event-hori.fc-event-end, .fc-rtl .fc-event-hori.fc-event-start {
    border-radius: 2px;
    border-color: none;
    background-color: darkslategray;
}
.fc-event,
.fc-agenda .fc-event-time,
.fc-event a {
    padding: 4px 6px;
    background-color: #1AB394; /* background color */
    border-color: #1AB394;     /* border color */
    color: inherit;              /* text color */
}

.fc-event-time, .fc-event-title {
    color: #717171;
    padding: 0 1px;
}
/* BADGETS & LABELS */

.label {
    background-color: #D1DADE;
    color: #5E5E5E;
    font-family: 'Open Sans';
    font-size: 10px;
    font-weight: 600;
    padding: 3px 8px;
    text-shadow: none;
}
.badge {
    background-color: #D1DADE;
    color: #5E5E5E;
    font-family: 'Open Sans';
    font-size: 11px;
    font-weight: 600;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    text-shadow: none;
}

.label-primary, .badge-primary {
    background-color: #1AB394;
    color: #FFFFFF;
}
.label-success, .badge-success {
    background-color: #1C84C6;
    color: #FFFFFF;
}
.label-warning, .badge-warning {
    background-color: #F8AC59;
    color: #FFFFFF;
}

.label-warning-light, .badge-warning-light {
    background-color: #eeb722;
    color: #ffffff;
}

.label-danger, .badge-danger {
    background-color: #EF5352;
    color: #FFFFFF;
}
.label-info, .badge-info {
    background-color: #23C6C8;
    color: #FFFFFF;
}
.label-inverse, .badge-inverse {
    background-color: @262626;
    color: #FFFFFF;
}
.label-white, .badge-white {
    background-color: #FFFFFF;
    color: #5E5E5E;
}
.label-white, .badge-disable {
    background-color: #2A2E36;
    color: #8B91A0;
}

/* PROFILE */

.profile-content {
    border-top: none !important;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #E7EAEC;
}
.feed-element:first-child {
    margin-top: 0;
}
.feed-element {
    padding-bottom: 15px;
}
.feed-element, .feed-element .media {
    margin-top: 15px;
}
.feed-element, .media-body {
    overflow: hidden;
}
.feed-element > .pull-left {
    margin-right: 10px;
}

.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
    width: 38px;
    height: 38px;
}

.feed-element .well {
    border: 1px solid #E7EAEC;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 10px 20px;
    font-size: 11px;
    line-height: 16px;
}

.feed-element .actions {
    margin-top: 10px;
}

.feed-element .photos {
    margin: 10px 0;

}

.feed-photo {
    max-height: 180px;
    border-radius: 4px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
}

/* GLOBAL  */

.no-padding {
    padding: 0 !important;
}
.no-borders {
    border: none !important;
}

.no-top-border {
    border-top: 0 !important;
}

.ibox-content.text-box {
    padding-bottom: 0px;
    padding-top: 15px;
}

.border-left-right {
    border-left: 1px solid #E7EAEC;
    border-right: 1px solid #E7EAEC;
    border-top: none;
    border-bottom: none;
}

.full-width {
    width: 100% !important;
}

.link-block {
    font-size: 12px;
    padding: 10px;
}

.nav.navbar-top-links .link-block a {
    font-size: 12px;
}
.link-block a {
    font-size: 10px;
    color: inherit;

}

body.mini-navbar .branding {
    display: none;
}

img.circle-border {
    border: 6px solid #FFFFFF;
    border-radius: 50%;
}

.branding {
    float: left;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    padding: 17px 20px;
    text-align: center;
    background-color: #1AB394;
}

 .chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

 .login-panel {
    margin-top: 25%;
}

 .icons-box h3 {
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .icons-box .infont a i {
     font-size: 25px;
     display: block;
     color: #676A6C;
 }

.icons-box .infont a {
    color: #a6a8a9;
}

 .icons-box .infont a {
     padding: 10px;

     margin: 1px;
     display: block;
 }

 .ui-draggable .ibox-title {
     cursor: move;
 }

 /* MAILBOX */

.mail-box {
    background-color: #ffffff;
    border: 1px solid #E7EAEC;
    border-top: 0;
    padding: 0px;
    margin-bottom: 20px;
}

.mail-box-header {
    background-color: #ffffff;
    border: 1px solid #E7EAEC;
    border-bottom: 0;
    padding: 30px 20px 20px 20px;
}

.mail-box-header h2 {
    margin-top: 0px;
}

.mailbox-content .tag-list li a {
    background: #ffffff;
}

 /* CONTACTS */

.contact-box {
    background-color: #ffffff;
    border: 1px solid #E7EAEC;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-box a {
    color: inherit;
}
 /* SEARCH PAGE */

.search-form {
    margin-top: 10px;
}

.search-result h3 {
    margin-bottom: 0;
    color: #1E0FBE;
}

.search-result .search-link {
    color: #006621;
}

.search-result p {
    font-size: 12px;
    margin-top: 5px;
}

/* PANELS */

.panel.blank-panel {
    background: none;
    margin: 0;
}

.blank-panel .panel-heading {
    padding-bottom: 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none;
    border-color: #DDDDDD #DDDDDD rgba(0, 0, 0, 0);
    border-bottom: #F3F3F4;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #555555;
    cursor: default;
}

.nav.nav-tabs li {
    background: none;
    border: none;
}

.nav-tabs > li > a {
    color: #A7B1C2;
    font-weight: 600;
    padding: 10px 20px 10px 25px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus  {
    background-color: #e6e6e6;
    color: #676A6C;
}

 /* LIST GROUP */

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #1AB394;
    border-color: #1AB394;
    color: #FFFFFF;
    z-index: 2;
}

.list-group-item-heading {
    margin-top: 10px;
}

.list-group-item-text {
    margin: 0 0 10px;
    color: inherit;
    font-size: 12px;
    line-height: inherit;
}

.no-padding .list-group-item {
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.no-padding .list-group-item:first-child {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

.no-padding .list-group {
    margin-bottom: 0;
}

.list-group-item {
    background-color: #FFFFFF;
    border: 1px solid #E7EAEC;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    position: relative;
}



/* FLOT CHART  */

 .flot-chart {
    display: block;
    height: 200px;
}

.flot-chart.dashboard-chart {
    display: block;
    height: 180px;
    margin-top: 40px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.jqstooltip {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    visibility: hidden;
    background: rgb(43, 48, 58) transparent;
    background-color: rgba(43, 48, 58, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    text-align: left;
    white-space: nowrap;
    z-index: 10000;
    padding: 5px 5px 5px 5px;
    min-height: 22px;
    border-radius: 3px;
}

.jqsfield {
    color: white;
    text-align: left;
}

.h-200 {
    min-height: 200px;
}
/* DATATABLES */

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    float: right;
    font-family: fontawesome;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    float: right;
    font-family: fontawesome;
    color: rgba(50,50,50,.5);
}

/* TABLES */

.table-bordered {
    border: 1px solid #EBEBEB;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    background-color: #F5F5F6;
    border-bottom-width: 1px;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}

.table > thead > tr > th {
    border-bottom: 1px solid #DDDDDD;
    vertical-align: bottom;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #E7EAEC;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}

/* CIRCLE */


.img-circle {
    border-radius: 50%;
}

 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/* ELEMENTS */

.breadcrumb {
    background-color: #ffffff;
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb > li a {
    color: inherit;
}

.breadcrumb > .active {
    color: inherit;
}

code {
    background-color: #F9F2F4;
    border-radius: 4px;
    color: #ca4440;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox:after, .ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
}

.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;

    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.mail-body {
    border-top: 1px solid #E7EAEC;
    padding: 20px;
}

.mail-text {
    border-top: 1px solid #E7EAEC;
}

.mail-text .note-toolbar {
    padding: 10px 15px;
}

.mail-body .form-group {
    margin-bottom: 5px;
}

.mail-text .note-editor .note-toolbar {
    background-color: #F9F8F8;
}

.mail-attachment {
    border-top: 1px solid #E7EAEC;
    padding: 20px;
    font-size: 12px;
}

.mailbox-content {
    background: none;
    border: none;
    padding: 10px;
}

.mail-ontact {
    width: 23%;
}

table.table-mail tr td {
    padding: 12px;
}

.table-mail .check-mail {
    padding-left:20px ;
}

.table-mail .mail-date {
    padding-right: 20px;
}

.star-mail, .check-mail {
    width: 40px;
}

.unread td a, .unread td {
    font-weight: 600;
    color: inherit;
}

.read td a, .read td {
    font-weight: normal;
    color: inherit;
}

.unread td {
    background-color: #f9f8f8;
}

.ibox-content {
    clear: both;
}

.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}

.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}
.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ibox-tools {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
}

.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}

.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}

/* GALLERIES */

.fancybox img {
    margin-bottom: 5px;
    /* Only for demo */
    width: 24%;
}

/* ANIMATION */

.css-animation-box h1 {
    font-size: 44px;
}

.animation-efect-links a {
    padding: 4px 6px;
    font-size: 12px;
}

#animation_box {
    background-color: #f9f8f8;
    border-radius: 16px;
    width: 80%;
    margin: 0 auto;
    padding-top: 80px;
}

.animation-text-box {
    position: absolute;
    margin-top:40px;
    left: 50%;
    margin-left:-100px;
    width: 200px;
}

.animation-text-info {
    position: absolute;
    margin-top: -60px;
    left: 50%;
    margin-left: -100px;
    width: 200px;
    font-size: 10px;
}

.animation-text-box h2 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 5px;
}

.animation-text-box p {
    font-size: 12px;
    text-transform: uppercase;
}

/* PLUGINS */
.pace .pace-progress {
    background: #1AB394;
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 220px;
    height: 2px;

    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -o-transition: width 1s;
    transition: width 1s;
}
.body-small .pace .pace-progress {
    left: 0px;
}

.pace-inactive {
    display: none;
}

/* INVOICE */

.invoice-table tbody > tr > td:last-child, .invoice-table tbody > tr > td:nth-child(4), .invoice-table tbody > tr > td:nth-child(3), .invoice-table tbody > tr > td:nth-child(2) {
    text-align: right;
}
.invoice-table thead > tr > th:last-child, .invoice-table thead > tr > th:nth-child(4) , .invoice-table thead > tr > th:nth-child(3), .invoice-table thead > tr > th:nth-child(2) {
    text-align: right;
}

.invoice-total > tbody > tr > td:first-child {
    text-align: right;
}

.invoice-total > tbody > tr > td {
    border: 0 none;
}
.invoice-total > tbody > tr > td:last-child {
    border-bottom: 1px solid #DDDDDD;
    text-align: right;
    width: 15%;
}



/* MARGINS & PADDINGS */

.p-xxs {
    padding: 5px;
}

.p-xs {
    padding: 10px;
}

.p-sm {
    padding: 15px;
}

.p-m {
    padding: 20px;
}

.p-md {
    padding: 25px;
}

.p-lg {
    padding: 30px;
}

.p-xl {
    padding: 40px;
}

.m-xxs {
    margin: 2px 4px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m {
    margin: 15px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}

.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}

/* MEDIA */

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 220px;
        min-height: 1000px;
    }

    .navbar-static-side {
        z-index: 101;
        position: absolute;
        width: 220px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media(max-width:768px) {

    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0px;
        min-height: 1000px;
    }

    .body-small .navbar-static-side {
        display: none;
        z-index: 1;
        position: absolute;
        width: 70px;
    }

    .body-small.mini-navbar .navbar-static-side {
        display: block;
    }

    .lock-word {
        display: none;
    }

    .navbar-form-custom {
        display: none;
    }

    .navbar-header {
        display: inline;
        float: left;
    }

}

/* Only demo */
@media(max-width:1000px) {
    .welcome-message {
        display: none;
    }
}